*.zip
.DS_Store
*__pycache__*
.ipynb_checkpoints/
*.pyc
*.png
*.fasta
*.gz
*.jpg
*.html
.idea
*.tsv
*.xml
*.docx
*.pptx
*.xlsx

uniprot-organism9606_AND_pdb_7600proteins.txt
uniprot-reviewed+Homo+sapiens+hasStructure_7376proteins.txt

# local folders entire contents
UniProt_TopologicalDomain_extracellularCys/*
UniProt_TopologicalDomain_extracellularCys
SubcellularBrowserFASTAdownloads/*
SubcellularBrowserFASTAdownloads
oddsEvenDisulfide_collab/*
oddsEvenDisulfide_collab

